canvas {
    border: 1px solid black;
    margin: 10px;
}

img {
    max-width: 100px;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    /* separación entre celdas */
    padding: 10px;
    width: max-content;
    border: 1px solid black;
    position: relative;
}

/* Estilo base para las imágenes */
div {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: antiquewhite;
}