/* Estilos del menu BOOTSTRAP */
nav {
  background-color: #1c1c1c;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  font-family: "Segoe UI", sans-serif;
}

.navbar-brand {
  font-weight: 600;
  color: #fff !important;
  font-size: 1.2rem;
}

.navbar-nav .nav-link {
  color: #f0f0f0;
  margin-left: 10px;
  transition: all 0.3s ease;
  border-radius: 5px;
  padding: 8px 14px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  background-color: #575757;
  color: #ffffff !important;
}

.dropdown-menu {
  background-color: #222;
  border: none;
  border-radius: 8px;
  padding: 0;
}

.dropdown-item {
  color: #fff;
  padding: 10px 16px;
}

.dropdown-item:hover {
  background-color: #444;
}