    body {
        font-family: "Arial";
        margin: #f1f1f1;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1em;
        
        box-shadow: 1px 1px 2px 2px #000;
        padding: 15px;
        margin-bottom: 10px;
        margin-top: 10px;
        align-items: center;
        margin: 0 auto;
        width: 70%;
    }
    label {
        justify-content: center;
        padding: 10px;
        font-weight: bold;
        align-items: left;
        margin: 0 auto;
    }
    input [type="text"] {
        padding: 15px;
        width: 100%;
        margin: 0 auto;
        height: auto;
    }
    input[type="submit"] {
        justify-content: left;
        padding: 15px;
        border-radius: 4%;
        border-style: none;
        color: white;
        background-color: #aacc;
    }