<IfModule mod_rewrite.c>
Options -Multiviews 
RewriteEngine On 
RewriteBase /dwes/mvcexamen/public
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>
RewriteEngine On
RewriteBase /mvcexamen/

# Si existe archivo o carpeta, no redirigir
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Todo lo demás → index.php?url=...
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
