services:
  api:
    build: .
    ports:
      - "4000:4000"
    volumes:
      - .:/app
    depends_on:
      - mongo
    env_file:
      - .env

  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
