            * {
                box-sizing: border-box;
            }

            body {
                font-family: Arial, sans-serif;
                margin: 10px;
                padding: 0;
                background-color: #ffffff;
            }

            h1 {
                color: #333;
            }


            .caja {
                display: inline-block;
                width: 100px;
                height: 100px;
                margin: 10px;
            }

            .green {
                background-color: green;
            }

            .red {
                background-color: red;
            }

            .blue {
                background-color: blue;
            }

            #midiv {
                background-color: powderblue;
                padding: 20px;
                margin-top: 20px;
                padding: 26px;
                margin-right: 40px;
                margin-left: 40px;
            }

            .boton-transicion {
                margin: 20px 25px;
                text-align: justify;
                padding: 10px;
                background-color: green;
                height: 100px;
                width: 100px;
                transition: width 3s, height 3s, background-color 2s;
            }

            .boton-transicion:hover {
                height: 200px;
                background-color: greenyellow;
                width: 200px;
            }

            #move {
                position: absolute;
                top: 0;
                right: 0;
            }

            @media only screen and (max-width: 600px) {
                body {
                    background-color: #ff0000;
                }
            }

            .list-s {
                list-style-type: square;
            }

            .list-none {
                list-style: none;
            }

            .bordes {
                width: 270px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                margin: 14px;
            }

            .borde-solido {
                border: 4px solid #2b7cff;
            }

            .borde-punteado {
                border: 3px dotted #42cb62;
            }

            .borde-redondeado {
                border-radius: 12px;
                border: 3px solid #c12a2a;
            }